
.title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #9b7d5f;
}

.button__create{
    height: 90px;
    border-radius: 23px;
    border: 4px dashed #d3c1b1;
    color: #c2b2a2;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    place-content: center start;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 40px;
    cursor: pointer;
}

.button__center{
    display: grid;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 3px dashed #c2b2a2;
    place-self: center start;
}

.button__plus{
    width: 4px;
    height: 15px;
    background-color: #c2b2a2;
    place-self: center;
    position: absolute;
}

.button__plus_horizontal{
    place-self: center;
    width: 15px;
    height: 4px;
    background-color: #c2b2a2;
}